@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}

/* common css classes */
.container {

    max-width: 1610px;
    margin: 0 auto;
    padding: 0 20px;
}

p {
    color: #4e4e4e;
}

.light-button {
    background-color: white;
    font-size: 20px;
    padding: 20px 25px;
    color: #F15B22;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 16px;
    font-weight: 600;
}

.light-button:hover {
    background-color: #f15d2200;
    border: 2px solid white;
    color: white;
}

/* banner styles */
.banner {
    width: 100%;
    height: 809px;
    background-image: url(./Images/Banner/banner2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    height: 809px;
}


.banner-inner-div {
    width: 525px;
    padding: 0 230px;

}

.banner h1 {
    font-size: 65px;
    margin: 0px 0 18px 0;
}

.banner p {
    font-size: 16px;
    line-height: 30px;
}

.contact-me-btn {
    background-color: #F15B22;
    font-size: 20px;
    padding: 20px 25px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 16px;
}

.contact-me-btn:hover {
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid #F15B22;
}

/* key of success section styles */

.key-success-main {
    padding: 0 230px;
    margin-bottom: 130px;
    margin-top: 130px;
    display: flex;
    align-items: center;
}

.common-width {
    width: 50%;
}

.key-success-content {
    padding-left: 100px;
}

.key-success-content h2 {
    font-size: 40px;
    margin: 0 0 10px 0;
}

.key-success-content p {
    font-size: 16px;
    line-height: 27px;
}

.key-success-content ul {
    list-style: none;
    padding-left: 0;

}

.check-sign-color {
    color: #16D887;
    font-size: 20px;
    margin-right: 10px;
}

.key-success-content li {
    line-height: 37px;
    color: #4e4e4e;
}

/* My plan section styles */
.my-plan-main {
    padding: 0 230px;
    margin-bottom: 130px;
}

.my-plan-main h2 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.flexible-plans {
    display: flex;
    justify-content: space-between;
}

.plan-card {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.plan-card img {
    height: auto;
    width: 92px;
}

.plan-card h3 {
    font-size: 30px;
    margin-bottom: 0;
}

.plan-card p {
    font-size: 23px;
    font-weight: 500;
    line-height: 35px
}

/* message now section styles */
.message-now-main {
    padding: 0 350px;
    margin-bottom: 130px;
}

.message-now-inner {
    background-image: url(./Images/watch.png);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;

}

.message-now-content {
    background-image: linear-gradient(to right, #F15B22, #f15d2200);
    height: 100%;
    width: 100%;
    padding: 60px 65px;
}

.message-now-content h2 {
    font-size: 40px;
    margin: 0;
    color: white;
}